@import "~materialize-css/dist/css/materialize.min.css";

input.orange-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.orange-input + label {
  color: #fff !important;
}

input.orange-input:focus {
  border-bottom: 1px solid #ffeb3b !important;
  box-shadow: 0 1px 0 0 #ffeb3b !important;
}

input.orange-input:focus + label {
  color: #ffeb3b !important;
}